/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# Scribe API Documentation
/.scribe/
/config/scribe.php.bak

# Generated API docs (uncomment next line if you want to ignore generated docs)
# /public/docs/
